@use "./_settings_color-palette.scss" as s-color;

//** footer
$il-footer-bg-color: s-color.$il-main-bg;
$il-footer-color: s-color.$il-text-color;
$il-footer-link-color: s-color.$il-link-color;
$il-footer-link-hover-color: s-color.$il-link-hover-color;
$il-footer-gap-base: 6px;
